@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Kaushan+Script&display=swap");

/* ====================================
ESCRITO (XL revisamos en 1366px en adelante)
======================================== */

/* Estilos generales */

:root {
  --primary: rgb(242, 178, 46);
  --success: #ffb84d;
  --dark: #131313;
  --light: #eaeaea;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
}

/* cabecera  */

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  z-index: 100;
}

.header .cont-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header .cont-logo img {
  height: 80px;
}

.header .cont-logo p {
  font-size: 35px;
  font-family: "Kaushan Script", cursive;
  font-weight: bold;
  color: var(--light);
}

.header .nav-bar a {
  border: 2px solid var(--primary);
  padding: 3px 10px;
  border-radius: 10px;
  color: var(--primary);
  font-size: 20px;
  margin-right: 10px;
  transition: 0.5s all;
}

.header .nav-bar a:hover {
  background: var(--primary);
  color: var(--dark);
  font-weight: bold;
}

.navbar-mobile {
  display: none;
}

/* Banner */
.banner {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
    120deg,
    var(--dark) 60%,
    var(--success) 40%
  );
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.banner .banner-cont {
  width: fit-content;
}

.banner .banner-cont h3 {
  font-size: 40px;
  color: var(--light);
}

.banner .banner-cont h2 {
  font-size: 90px;
  color: var(--light);
}

.banner .banner-cont p {
  color: #9e9898;
  font-size: 18px;
  width: 600px;
  margin-bottom: 40px;
}

.banner .banner-cont .btn-home {
  background: #ff2e02;
  padding: 10px 30px;
  font-weight: 500;
  letter-spacing: 1px;
  color: var(--light);
  border-radius: 6px;
  font-size: 20px;
  border: 2px solid #ff2e02;
  transition: 0.3s;
}

.banner .banner-cont .btn-home:hover {
  background: transparent;
  color: #ff2e02;
}

.banner .banner-img img {
  max-width: 700px;
  width: 90%;
  margin-top: 100px;
  animation: animation-img-banner 20s linear infinite;
}

/* ==========================================
 MOVILES (Revisamos de 768px hacia abajo)
 ========================================= */
@media (max-width: 768px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--dark);
  }

  .header .nav-bar {
    display: none;
  }

  .navbar-mobile {
    display: block;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background: var(--primary);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 200;
  }

  .navbar-mobile a {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 10px;
    background: var(--dark);
    border: 2px solid var(--dark);
    color: var(--primary);
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-mobile a:hover {
    background: var(--primary);
    color: var(--dark);
  }

  /* banner */

  .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    height: 100%;
    overflow: hidden;
  }

  .banner .banner-cont h3 {
    font-size: 30px;
    margin-top: 30px;
  }
  .banner .banner-cont h2 {
    font-size: 50px;
  }

  .banner .banner-cont p {
    width: auto;
  }

  .banner .banner-cont {
    width: 100%;
    padding: 20px;
  }

  .banner .banner-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
  }
}

@keyframes animation-img-banner {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}
